
@{
    ViewBag.Title = "O_nama";
    Layout = "~/Views/Shared/_LayoutOnama.cshtml";
}

@Styles.Render("~/Content/Site.css")
@Styles.Render("~/Content/footer.css")
<link rel="stylesheet" href="~/font-awesome-4.5.0/css/font-awesome.min.css">

<!-- Page Content -->

<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">O nama</h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("O nama", "Index", "O_nama")
                </li>
                <li class="active">Točka pokrića</li>
            </ol>
        </div>
    </div>


    <ul class="nav nav-tabs">
        <li class="active">@Html.ActionLink("Točka pokrića", "Index", "O_nama")</li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Usluge
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Knjigovodstvo", "knjigovodstvo", "O_nama")</li>
                <li>@Html.ActionLink("Poslovno savjetovanje", "poslovno_savjetovanje", "O_nama")</li>
                <li>@Html.ActionLink("Turizam", "turizam", "turizam")</li>
            </ul>
        </li>
        <li>@Html.ActionLink("Naš tim", "Tim")</li>
        <li>@Html.ActionLink("Naši partneri", "Partneri")</li>
    </ul>
</div>


    <!-- /.row -->
    <!-- Intro Content -->
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h2>O Točki pokrića</h2>
            <img class="img-responsive", style="margin-top:20px"  src="~/pics/onama.jpg" alt="">
        </div>
        <div class="col-md-6">
            <br />
            <br />
            <br />
            <br />
          
            <font size="3">
                <p>
                    <i class="fa fa-hand-o-right "></i>
                    Poduzetnik ste pred kojeg se postavljaju mnoga pitanja na koja nemate &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;zadovoljavajuće odgovore.

                </p>
                <p>
                    <i class="fa fa-hand-o-right "></i>
                    Kadrovski niste dobro ekipirani i ne pokrivate sva područja znanja i vještina.
                </p>
                <p>
                    <i class="fa fa-hand-o-right "></i>
                    Vrijeme potrebno za razvoj poslovne ideje oduzimaju vam druge aktivnosti.
                </p>
                <p>
                    <i class="fa fa-hand-o-right "></i>
                    Ne možete se fokusirati na bitno.
                </p>
                <p>
                    <i class="fa fa-hand-o-right "></i>
                    Rezultati poslovanja su vam sve lošiji, a ne znate zbog čega.
                </p>
                <p>
                    <i class="fa fa-hand-o-right "></i>
                    Htjeli biste učiniti iskorak iz postojeće situacije, a ne znate kako.
                </p>
                <p>
                    <i class="fa fa-hand-o-right "></i>
                    Pruža Vam se prilika da ugovorite novi posao, da izađete na nova tržišta ili &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;da na tržište izbacite nove proizvode, a niste sigurni kako  to realizirati.
                </p>
            </font>
            <font size="4">
                <br />
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Navedeno je tek dio poduzetničke stvarnosti. </p>
            </font>
             
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <br />    
            <font size="4">
                <p>
                    Ako se i u Vašem poduzetničkom životu događa nešto od ovoga, treba Vam podrška sa strane.  U skladu s Vašim potrebama mi Vam možemo ponuditi:
                </p>
                <div class="col-md-offset-1">
                    <p>
                        <i class="fa fa-check-circle-o"></i> vođenje poslovnih knjiga,
                    </p>
                </div>
                <div class="col-md-offset-1">
                    <p>
                        <i class="fa fa-check-circle-o"></i> porezno i pravno savjetovanje,
                    </p>
                </div>
                <div class="col-md-offset-1">
                    <p>
                        <i class="fa fa-check-circle-o"></i> upravljanje ljudskim potencijalima,
                    </p>
                </div>
                <div class="col-md-offset-1">
                    <p>
                        <i class="fa fa-check-circle-o"></i> pregovaranje i sklapanje ugovora s poslovnim partnerima,
                    </p>
                </div>
                <div class="col-md-offset-1">
                    <p>
                        <i class="fa fa-check-circle-o"></i> potporu upravi i nadzornom odboru u upravljanju,
                    </p>
                </div>
                <div class="col-md-offset-1">
                    <p>
                        <i class="fa fa-check-circle-o"></i> projektiranje poslovnih procesa,
                    </p>
                </div>
                <div class="col-md-offset-1">
                    <p>
                        <i class="fa fa-check-circle-o"></i> projektiranje organizacijske strukture,
                    </p>
                </div>
                <div class="col-md-offset-1">
                    <p>
                        <i class="fa fa-check-circle-o"></i> izradu radnopravnih i organizacijskih akata, poslovnih planova i studija izvedivosti,
                    </p>
                </div>
                <div class="col-md-offset-1">
                    <p>
                        <i class="fa fa-check-circle-o"></i> pripremu  projekata koji se financiraju iz EU fondova,
                    </p>
                </div>
                <div class="col-md-offset-1">
                    <p>
                        <i class="fa fa-check-circle-o"></i> vođenje predstečajnih nagodbi i izradu planova restrukturiranja.
                    </p>
                </div>
                <p>
                    <i class="fa fa-refresh fa-spin"></i>
                    A za trenutke zasluženog odmora, Vama i Vašim suradnicima nudimo apartmane u Vodicama.
                </p>
            </font>
            <br />
            <br />
        </div>
    </div>
 </div>
<!-- Footer -->
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
