
@{
    ViewBag.Title = "O_nama";
    Layout = "~/Views/Shared/_LayoutOnama.cshtml";
}

@Styles.Render("~/Content/Site.css")

<!-- Page Content -->

<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">O nama</h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("O nama", "Index", "O_nama")
                </li>
                <li class="active">Točka pokrića</li>
            </ol>
        </div>
    </div>


    <ul class="nav nav-tabs">
        <li class="active">@Html.ActionLink("Točka pokrića", "Index")</li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Usluge
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Knjigovodstvo", "knjigovodstvo")</li>
                <li>@Html.ActionLink("Poslovno savjetovanje", "poslovno_savjetovanje")</li>
                <li>@Html.ActionLink("Turizam", "turizam", "turizam")</li>
            </ul>
        </li>
        <li>@Html.ActionLink("Naš tim", "Tim")</li>
        <li>@Html.ActionLink("Naši partneri", "Partneri")</li>
    </ul>
</div>


    <!-- /.row -->
    <!-- Intro Content -->
<div class="container">

    <div class="row-">
        <div class="col-md-6">
            <img class="img-responsive", style="margin-top:70px"  src="~/pics/onama.jpg" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>O Točki pokrića</h2>
            <p>
                Poduzetnik ste pred kojeg se postavljaju mnoga pitanja na koja nemate zadovoljavajuće odgovore. Kadrovski niste dobro ekipirani i ne pokrivate sva područja znanja i vještina.
                Vrijeme potrebno za razvoj poslovne ideje oduzimaju vam druge aktivnosti. Ne možete se fokusirati na bitno. Rezultati poslovanja su vam sve lošiji, a ne znate zbog čega.
                Htjeli biste učiniti iskorak iz postojeće situacije, a ne znate kako. Pruža Vam se prilika da ugovorite novi posao, da izađete na nova tržišta ili da na tržište izbacite nove proizvode, a niste sigurni kako  to realizirati.
            </p>
            <p>Navedeno je tek dio poduzetničke stvarnosti. </p>
            <p>
                Ako se i u Vašem poduzetničkom životu događa nešto od ovoga, treba Vam podrška sa strane.  U skladu s Vašim potrebama mi Vam možemo ponuditi vođenje poslovnih knjiga, porezno i pravno savjetovanje,
                upravljanje ljudskim potencijalima, pregovaranje i sklapanje ugovora s poslovnim partnerima, internu  reviziju i kontrolu , potporu upravi i nadzornom odboru u upravljanju, projektiranje poslovnih procesa,
                projektiranje organizacijske strukture, izradu  radnopravnih i organizacijskih akata, izradu poslovnih planova, studija izvedivosti, pripremu  projekata koji se financiraju iz EU fondova, vođenje predstečajnih nagodbi i
                izradu planova restrukturiranja.
            </p>
            <p>A za trenutke zasluženog odmora, Vama i Vašim suradnicima nudimo apartmane u Vodicama.  </p>
        </div>
    </div>

        <footer>
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright &copy; Točka pokrića 2015</p>
                </div>
            </div>
        </footer>
</div>

    <!-- /.row -->
    <!-- Team Members -->
    @*<div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Naš tim</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        Andreja Odak<br>
                        <small>Direktorica</small>
                    </h3>
                    <p>098/172-2360</p>
                    <p>andreja.odak@tocka-pokrica.hr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        Matija Odak<br>
                        <small>Ekonomist</small>
                    </h3>
                    <p>098/1374-238</p>
                    <p>matija.odak@tocka-pokrica.hr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        dipl.iur. Ivan Odak<br>
                        <small>Pravnik</small>
                    </h3>
                    <p>098/353-213</p>
                    <p>ivan.odak@tocka-pokrica.hr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        univ.bacc.ing.comp. Luka Odak<br>
                        <small>Tehnička podrška</small>
                    </h3>
                    <p>098/1891-380</p>
                    <p>luka.odak@tocka-pokrica.hr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        Marko Odak<br>
                    </h3>
                    <p>099/500-4593</p>
                    <p>marko.odak@tocka-pokrica.hr</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
    <!-- Our Customers -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Naši partneri</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://www.autoskola-rotor.hr/Portals/0/Images/logo_mali.png" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://www.tiskara-reprint.hr/images/logo.png" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://zanin-centar.com/wp-content/uploads/2014/06/Zanin_v32.png" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://www.omv-indoil.hr/components/com_ponygallery/img_thumbnails/11_20070207_2097570980.jpg" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://www.novifaktor.hr/templates/yoo_bigeasy/images/nf-header.png" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://www.1aplusemc2.com/wp-content/uploads/2014/03/logo-piramida-web-horizontal-banner2.png" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://www.iiczagabria.esteri.it/NR/rdonlyres/A71DCA67-DCE5-4672-859D-5B7850D8A4C5/89004/logo1.jpg" alt="">
        </div>
    </div>
    <!-- /.row -->
    *@
    <hr>
<!-- Footer -->

<!-- /.container -->
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
