
@{
    ViewBag.Title = "O_nama";
    Layout = "~/Views/Shared/_LayoutOnama.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/business-frontpage.css" rel="stylesheet" />
<link href="~/Content/footer.css" rel="stylesheet" />
<!-- Custom CSS -->
<script src="~/js/jquery-1.10.2.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">O nama</h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("O nama", "Index", "O_nama")
                </li>
                <li class="active">Naš tim</li>
            </ol>
        </div>
    </div>


    <ul class="nav nav-tabs">
        <li>@Html.ActionLink("Točka pokrića", "Index", "O_nama")</li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Usluge
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Knjigovodstvo", "knjigovodstvo")</li>
                <li>@Html.ActionLink("Poslovno savjetovanje", "poslovno_savjetovanje")</li>
                <li>@Html.ActionLink("Turizam", "turizam", "turizam")</li>
            </ul>
        </li>
        <li class="active">@Html.ActionLink("Naš tim", "Tim")</li>
        <li>@Html.ActionLink("Naši partneri", "Partneri")</li>
    </ul>
</div>


<div class="row">
    
    <div class="container" style="margin-top:20px">
       

    </div>
</div>   
<hr>
<!-- /.container -->
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
