
@{
    ViewBag.Title = "O_nama";
    Layout = "~/Views/Shared/_LayoutOnama.cshtml";
}

@Styles.Render("~/Content/Site.css")

<!-- Page Content -->

<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">O nama</h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("O nama", "Index", "O_nama")
                </li>
                <li class="active">Naš tim</li>
            </ol>
        </div>
    </div>


    <ul class="nav nav-tabs">
        <li>@Html.ActionLink("Točka pokrića", "Index")</li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Usluge
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Knjigovodstvo", "knjigovodstvo")</li>
                <li>@Html.ActionLink("Poslovno savjetovanje", "poslovno_savjetovanje")</li>
                <li>@Html.ActionLink("Turizam", "turizam", "turizam")</li>
            </ul>
        </li>
        <li class="active">@Html.ActionLink("Naš tim", "Tim")</li>
        <li>@Html.ActionLink("Naši partneri", "Partneri")</li>
    </ul>
</div>


<div class="row">
    
    <div class="container" style="margin-top:20px">
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        Andreja Odak<br>
                        <small>Direktorica</small>
                    </h3>
                    <p>098/172-2360</p>
                    <p>andreja.odak@tocka-pokrica.hr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        Matija Odak<br>
                        <small>Ekonomist</small>
                    </h3>
                    <p>098/1374-238</p>
                    <p>matija.odak@tocka-pokrica.hr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        dipl.iur. Ivan Odak<br>
                        <small>Pravnik</small>
                    </h3>
                    <p>098/353-213</p>
                    <p>ivan.odak@tocka-pokrica.hr</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 text-center" style="margin-top:10px">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        univ.bacc.ing.comp. Luka Odak<br>
                        <small>Tehnička podrška</small>
                    </h3>
                    <p>098/1891-380</p>
                    <p>luka.odak@tocka-pokrica.hr</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center" style="margin-top:10px">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        Marko Odak<br>
                    </h3>
                    <p>099/500-4593</p>
                    <p>marko.odak@tocka-pokrica.hr</p>
                </div>
            </div>
        </div>

    </div>
</div>
   
    <hr>
<!-- Footer -->

<!-- /.container -->
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
