<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Točka pokrića</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/business-frontpage.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="left:auto;">
                <div>
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            @Html.ActionLink("Početna", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("O nama", "About", "Home")
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usluge <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Knjigovodstvo", "knjigovodstvo", "Home")
                                </li>
                                <li>
                                    @Html.ActionLink("Poslovno-savjetovanje", "poslovno_savjetovanje", "Home")
                                </li>
                                <li>
                                    @Html.ActionLink("Turizam", "turizam", "turizam")
                                </li>
                            </ul>
                        </li>

                        <li>
                            @Html.ActionLink("Alati", "Index", "Alati")
                        </li>

                        <li>
                            @Html.ActionLink("Kontakt", "Contact", "Home")
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Poveznice <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="http://www.hnb.hr/">Hrvatska narodna banka</a>
                                </li>
                                <li>
                                    <a href="http://web.hgk.hr/">Hrvatska gospodarska komora</a>
                                </li>
                                <li>
                                    <a href="http://www.hitro.hr/Default.aspx">Hitro HR</a>
                                </li>
                                <li>
                                    <a href="http://www.fina.hr/Default.aspx">FINA</a>
                                </li>
                                <li>
                                    <a href="https://e-porezna.porezna-uprava.hr">ePorezna</a>
                                </li>
                            </ul>

                        </li>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Log in", "Login", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Register", "Registration", "Home")
                        </li>
                    </ul>

                </div>



            </div>


            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
        <br>
        <ul class="nav nav-sidebar">
            <li class="active">@Html.ActionLink("Naputak", "Index", "Alati")</li>
        </ul>
        <br>
        <ul class="nav nav-sidebar">
            <li>@Html.ActionLink("Propisi, obavjesti, aktualnosti", "Zakoni", "Alati")</li>
        </ul>
        <br>
        <ul class="nav nav-sidebar">
            <li>@Html.ActionLink("Upload", "Upload", "Alati")</li>
            <li>@Html.ActionLink("Download", "Upload", "Alati")</li>
        </ul>
        <br>
        <ul class="nav nav-sidebar">
            <li>@Html.ActionLink("Izračun plaće", "Kalkulator1", "Alati")</li>
            <li>@Html.ActionLink("Izračun neto iznosa ugovora", "Kalkulator2", "Alati")</li>
            <li>@Html.ActionLink("Tečajne liste", "Kalkulator3", "Alati")</li>
            <li>@Html.ActionLink("Bonitet poslovanja", "Kalkulator4", "Alati")</li>
            <li>@Html.ActionLink("Kreditni kalkulator", "Kalkulator5", "Alati")</li>
        </ul>


    </div><!--/span-->
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>




